@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hljs-warpper {
  position: relative;
  width: 100%;
  margin: 0.5em 0;
  font-size: 0.8em;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 4px;
  background-color: rgba(240, 240, 240, 0.4);
}
.hljs-warpper .hljs {
  background-color: transparent;
}
.hljs-warpper .info {
  position: absolute;
  top: 0.5em;
  right: 1em;
  z-index: 10;
  opacity: 0;
  font-size: 0.8em;
  text-align: right;
  line-height: 2em;
  color: rgba(120, 120, 120, 0.6);
  transition: opacity 0.15s linear;
}
.hljs-warpper:hover .info {
  opacity: 1;
}
.hljs-warpper .copy {
  cursor: pointer;
}
.katex-block-warpper,
.katex-inline-warpper {
  position: relative;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.katex-block-warpper .copy,
.katex-inline-warpper .copy {
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 10;
  opacity: 0;
  font-size: 0.8em;
  text-align: right;
  line-height: 2em;
  color: rgba(120, 120, 120, 0.6);
  transition: opacity 0.15s linear;
  cursor: pointer;
}
.katex-inline-warpper .copy {
  line-height: 3em;
}
.katex-block-warpper:hover .copy,
.katex-inline-warpper:hover .copy {
  opacity: 1;
}
